<p>
  <strong>Name:</strong>
  <%= @job_seeker.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @job_seeker.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @job_seeker.username %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @job_seeker.skills %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @job_seeker.resume %>
</p>

<p>
  <strong>Type:</strong>
  <%= @job_seeker.type %>
</p>

<%= link_to 'Back', users_path %>