<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @employer %>
</p>

<p>
  <strong>Category:</strong>
  <%= @category %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @job.deadline %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @tags %>
</p>

<p>
  <strong>No. of applications:</strong>
  <%= @applications %>
</p>