<h1>Editing profile</h1>

<%= form_for(@jobseeker, as: :jobseeker, url: update_jobseeker_profile_path) do |f| %>
    <% if @jobseeker.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@jobseeker.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @jobseeker.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone %><br>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :skills %><br>
      <%= f.text_field :skills %>
    </div>
    <div class="field">
      <%= f.label :resume %><br>
      <%= f.text_area :resume %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<br><%= link_to 'Change Password', new_jobseeker_pass_path %><br>
<%= link_to 'Back', jobseeker_profile_path %>